body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(204, 204, 214);
}
nav{
    background-color: rgb(102, 62, 245);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    margin-top: -20px;
}
.search-box input{
    margin-top: 30px;
    width: 280px;
    height: 30px;
    border: none;
    padding-left: 10px;
}
.search-box i{
    background-color: rgb(240, 206, 14);
    color: aliceblue;
    height: 25px;
    position: absolute;
    margin-top: 30px;
    padding-top: 5px;
    padding-left: 3px;
    margin-left: -20px;
    padding-right: 1px;
    
}
.Chart-box img{
    margin-top: 30px;
    margin-left: 10px;
}
.aside-container{
    width: 100%;
    height: 210px;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-evenly;

}
.left-aside-box{
    height: 180px;
    margin: 15px 5px;
    background-color: aliceblue;
}
.left-aside-box h3{
    margin: 7px;
    background-color: rgb(102, 62, 245);
    color: aliceblue;
    padding-left: 31px;
}
.left-aside-box ul li{
    list-style: none;
    margin-bottom: 10px;
}
.right-aside-box{
    background-image: linear-gradient(rgba(0,0,0,0.43), rgba(0,0,0,0.438)),url(./images/01.jpg);
    height: 180px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.right-aside-box h2{
    color: aliceblue;
    padding-left: 40px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.right-aside-box img{
    margin-right: 60px;
    width: 350px;
    height: 160px;
}
@media(max-width: 570px){
    .logo img{
        width: 80px;
        height: 80px;
        margin-top: 17px;
    }
    .search-box input{
        width: 200px;
        height: 25px;
    }
    .Chart-box img{
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }
    .search-box i{
        height: 19px;
    }
}
@media(max-width: 450px){
    .search-box input{
        width: 140px;
        height: 20px;
    }
    .search-box i{
        height: 17px;
        padding-top: 3px;
    }
}
@media(max-width:900px){
    .aside-container{
        grid-template-columns: 25% 75%;
    }
}
@media(max-width:560px){
    .aside-container{
        grid-template-columns: 30% 70%;
        height: 180px;
    }
    .left-aside-box{
        margin-left: 2px;
        height: 150px;
    }
    .left-aside-box h3{
        font-size: 17px;
        padding-left: 10px;
    }
    .left-aside-box ul li{
        font-size: 13px;
        margin-left: -20px;
    }
    .right-aside-box{
        height: 150px;
    }
}
@media(max-width: 365px){
    .aside-container{
        height: 150px;
        grid-template-columns: 40% 60%;
    }
    .left-aside-box{
        margin-left: 0px;
        height: 130px;
    }
    .left-aside-box h3{
        font-size: 13px;
        padding-left: 5px;
}
.left-aside-box ul li{
    font-size: 10px;
    margin-left: -28px;
}
.right-aside-box{
    height: 130px;
}
}
@media (max-width:1000px){
    .right-aside-box h2{
        padding-left: 20px;
        font-size: 3vmin;
    }
    .right-aside-box img{
        margin-right: 40px;
        width: 280px;
        height: 120px;
        margin-top: 30px;
    }
}
@media (max-width:900px){
    .right-aside-box h2{
        padding-left: 10px;
        font-size: 2vmin;
        margin-left: 20px;
    }
    .right-aside-box img{
        margin-right: 20px;
        width: 200px;
        height: 100px;
        margin-top: 30px;
    }
}
@media(max-width: 630px){
    .right-aside-box img{
      width: 120px;
      height: 70px;
    }
    .aside-container{
        height: 150px;
    }
    .right-aside-box{
        height: 130px;
    }
    .left-aside-box{
        height: 130px;
    }
    .left-aside-box h3{
        font-size: 10px;
    }
    .left-aside-box ul li{
        font-size: 8px;
        margin-left: -30px;
        margin-top: -2px;
    }
    .right-aside-box h2{
        margin-left: 5px;
    }
    .right-aside-box img{
        margin-right: 5px;
        width: 120px;
        height: 60px;
        margin-top: 20px;
      }  
      .right-aside-box{
        height: 100px;
    }
    .aside-container{
        height: 120px;
    }
    .left-aside-box{
        margin-left: 2px;
        height: 100px;
    }
    .left-aside-box h3{
        font-size: 10px;
        padding-left: 3px;
}
.left-aside-box ul li{
    font-size: 8px;
    margin-left: -32px;
}

}
#phone-container-heading{
    margin-left: 30px;
}
.phone-container{
    width: 95%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
.phone-container img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
}
.phone-container div{
    background-color: #fff;
    text-align: center;
    height: 230px;
    box-shadow:  0px 0px 10px rgb(121, 117, 117);
    font-family: Arial, Helvetica, sans-serif;
}
.phone-container h4{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.phone-container p{
    color: rgb(83, 80, 80);
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
@media(max-width: 1045px){
    .phone-container{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 300px;
    }
}
@media(max-width: 550px){
    .phone-container{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 600px;
    }
}
.laptop-container{
    width: 95%;
    height: 300px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-bottom: 60px;
}
.laptop-container img{
    width: 200px;
    height: 180px;
}
.laptop-container div{
    background-color: #fff;
    height: 280px;
    box-shadow: 0px 0px 10px rgb(97, 94, 94) ;
    font-family: Arial, Helvetica, sans-serif;
}
.laptop-container h4{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
#para{
    background-color: rgb(102, 62, 245);
    color: #fff;
    text-align: start;
    padding: 12px;
    width: 60px;
    font-size: 14px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 7px rgb(107, 103, 103);
}
@media(max-width: 960px){
    .laptop-container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-bottom: 350px;
    }
}
@media(max-width:450px){
    .laptop-container img{
        width: 160px;
        height: 140px;
    }
    .laptop-container div{
        height: 240px;
    }
}
.watches-container{
    width: 95%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
.watches-container img{
    width: 130px;
    height: 140px;
    margin-left: 20px;
}
.watches-container div{
    background-color: rgb(171, 213, 240);
    width: 420px;
    height: 150px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(121, 118, 118);
}
.watches-container p{
    position: absolute;
    margin-top: -110px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(126, 94, 241);
    font-size: 15px;
    font-weight: bold;
}
@media (max-width: 960px){
    .watches-container p{
     position: static; 
     margin-top: 0px;
     margin-left: 0px; 
     margin-top: 7px;
     text-align: center; 
     font-size: 12px;
    }
    .watches-container div{
        width: 170px;
        height: 200px;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    .watches-container{
        margin-bottom: 100px;
    }
}
@media(max-width:450px){
    .watches-container{
        width: 98%;
    }
    .watches-container img{
        width: 110px;
        height: 120px;
    }
    .watches-container div{
        width: 150px;
        height: 180px;
    }
    .watches-container p{
        font-size: 12px;
    }
}
.footer{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(171, 213, 240);
    margin-top: 50px;
}
.footer img{
    width: 28px;
    height: 28px;
    margin-top: 20px;
}
.footer p{
    font-size: 10px;
    color: rgb(88, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;

}